<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Creative studio</title>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="upper-stripe"></div>
	<div class="container">
		<div class="header">
			<div class="logo">
				<img src="img/logo.png" width="100%">
			</div>
			<a id="e-mail" href="mailto:info@CreativeStudio.com">info@CreativeStudio.com</a>
			<nav class="menu">
				<a href="#" class="menu-item">home</a>
				<a href="#" class="menu-item">about us</a>
				<a href="#" class="menu-item">portfolio</a>
				<a href="#" class="menu-item">services</a>
				<a href="#" class="menu-item">blog</a>
				<a href="#" class="menu-item">contact us</a>
				<div class="close"></div>
			</nav>
		</div>
		<div class="banner">
				<img src="img/banner.jpg" width="100%">
				<span class="banner-link">here's some nice work<a href="#">view portfolio &#8594;</a></span>
		</div>
		<div class="info">
			<div class="info-item">
				<div class="item-header">
					&#8594;  &nbsp;&nbsp;&nbsp;about us
				</div>
				<div class="item-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<span style="font-size: 12px;">&#8594;</span><a class="item-link" href="#">&nbsp;&nbsp;&nbsp; READ</a>
			</div>
			<div class="info-item">
				<div class="item-header">
					&#8594; &nbsp;&nbsp;&nbsp;our benefits
				</div>
				<div class="item-content">
					<ul class="list">
						<li class="list-li">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</li>
						<li>Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur.</li>
						<li>Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
					</ul>
				</div>
			</div>
			<div class="info-item">
				<div class="item-header">
					&#8594;  &nbsp;&nbsp;&nbsp;testimonials
				</div>
				<div class="item-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<span class="signature">Rafi, Graficsfuel.com</span>
			</div>
		</div>
		<div class="portfolio">
			<div class="portfolio-header item-header">&#8594; &nbsp;&nbsp;&nbsp;our portfolio</div>
			<div class="portfolio-content">
				<div class="portfolio-item"><img src="../img/house.jpg"><a href="#">VIEW &#8594;</a></div>
				<div class="portfolio-item"><img src="../img/wp_dream.jpg"><a href="#">VIEW &#8594;</a></div>
				<div class="portfolio-item"><img src="../img/social.jpg"><a href="#">VIEW &#8594;</a></div>
				<div class="portfolio-item"><img src="../img/moving.jpg"><a href="#">VIEW &#8594;</a></div>
			</div>
		</div>
		<div class="blog-social">
			<div class="blog">
				<div class="blog-social-header">&#8594; blog updates</div>
				<div class="blog-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
			</div>
			<div class="social">
				<div class="blog-social-header">&#8594; connect with us</div>
				<div class="social-items">
					<a href="#"><img src="../img/tweet.png"></a>
					<a href="#"><img src="../img/fb.png"></a>
					<a href="#"><img src="../img/flickr.png""></a>
					<a href="#"><img src="../img/rss.png""></a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="footer-menu"></div>
			<img class="footer-logo" src="img/footer_logo.png" style="height: 64px;">
		</div>
	</div>
</body>
</html>