<style type="text/css">
	html, body {
			height: 100%;
			font-family: Arial;
		}
		.page_wrapper {
			margin: auto;
			width: 1000px;
			height: 100%;
			border: 1px solid;
		}
		.slogan_wrapper {
			margin: 0 auto;
		}
		.box1, .box2, .box3, .box4, .box5, .box6 {
			height: 120px;
			width: 120px;
			float: left;
			margin-left: 20px;
			text-align: center;
			font-size: 100%;
			font-family: arial;
			line-height: 120px;
		}
		.box1, .box4 {
			background-color: blue;
		}
		.box2, .box6 {
			background-color: red;
		}
		.box3 {
			background-color: yellow;
		}
		.box5 {
			background-color: green;
		}
		.content_wrapper {
			margin: 75px 30px 0px 30px;
		}
		.description {
			float: left;
			width: 60%;
			background-color: orange;
		}
		img {
			height: 100px;
			width: 100px;
			border: 1px solid;
			margin: 0px 10px 10px 0px;
			background: url("../images/img1.png") no-repeat 0 0;
			background-size: contain;
			float: left;
		}
		p {
			margin: 10px;
		}
		.blue_box {

			background-color: blue;
			float: right;
		}		
		.clear {
			clear: both;
		}
</style>